@import url('https://fonts.googleapis.com/css?family=Dancing+Script|Raleway');

* {
  box-sizing: border-box;
  color: #737;
  font-family: 'Raleway', sans-serif;
}

ul {
  padding-inline-start: 0px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
