.head {
	height: 50px;
	background: linear-gradient(to right, #fae, #fed);
	display: grid;
	grid-template-columns: repeat(12, 1fr);
}

.logo {
	grid-column: 3/11;
	text-align: center;
	color: #959;
	padding: 10px 0;
	line-height: 30px;
	letter-spacing: .1em;
	font-size: 2.2em;
  font-family: 'Dancing Script', cursive;
  font-weight: bold;
}

.menu {
	grid-column: 11/-1;
	text-align: center;
}

.placeholder {
	grid-area: h;
	border-left: 1px solid white;
	text-align: center;
}

.hamburger {
  width: 40px;
  height: 30px;
  margin: auto;
  cursor: pointer;
  padding-top: 12px;
}

.hamburger-line {
  height: 4px;
  width: 100%;
  margin-bottom: 8px;
  border-radius: 2px;
  background: #959;
  z-index: 999;
}

.hamburger-line:last-of-type {
  margin-bottom: none;
}

.hamburger-line:nth-child(1) {
  --width: 40px;
  --top: 7px;
  --left: 8px;
  --rotate: 45deg;
}

.hamburger-line:nth-child(2) {
  --width: 0px;
  --top: 0px;
  --left: 0;
  --rotate: 0;
}

.hamburger-line:nth-child(3) {
  --width: 40px;
  --top: 8px;
  --left: -10px;
  --rotate: -45deg;
}

@keyframes click {
  50% {
    width: 4px;
    transform: rotate(0) translate(0,0);
  }
  51% {
    width: 4px;
    transform: rotate(var(--rotate)) translate(var(--top),var(--left));
  }
  100% {
    width: var(--width);
    transform: rotate(var(--rotate)) translate(var(--top),var(--left));
  }
}

.forward-animation {
  animation-name: click;
  animation-duration: .8s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-fill-mode: forwards;
  animation-play-state: paused;
}

